.welcome {
    text-align: center;
    font-size: 1.5em;
    margin: 2rem 15% 5rem 15%;
}

.recents {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 8% 0 8%;
}

.recents h3 {
    font-size: 1.75rem;
    text-align: center;
    margin-block-end: 0;
}

.recentInstruments {
    flex: 3;
    margin-right: 10rem;
}

.recentClasses {
    flex: 2;
}
