.navLinks {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    background-color: khaki;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navLink {
    padding: 1rem;
    font-size: 1.25em;
}

.navLink:hover {
    cursor: pointer;
    background-color: darkgoldenrod
}
